name: Build all packages

# this is important for trusted publishing
permissions:
  id-token: write

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        include:
          - { target: linux-64, os: ubuntu-latest, test: native }
          - { target: linux-aarch64, os: ubuntu-24.04-arm, test: native }
          - { target: linux-ppc64le, os: ubuntu-latest, test: skip }
          - { target: win-64, os: windows-latest, test: native }
          - { target: osx-64, os: macos-15-intel, test: native }
          - { target: osx-arm64, os: macos-latest, test: native }
      fail-fast: false

    name: ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.41.3
          activate-environment: true

      - name: Build packages
        shell: bash
        run: |
          git config --global core.autocrlf input
          pixi run --frozen build --skip-existing=all --target-platform=${{ matrix.target }} --test=${{ matrix.test }}
          shopt -s nullglob
          ls output/**/*.conda

      - name: Store artifacts
        uses: actions/upload-artifact@v6
        with:
          name: pkgs-${{ github.run_id }}-${{ matrix.target }}
          path: output/**/*.conda
          if-no-files-found: ignore
          retention-days: 7
        continue-on-error: true

      - name: Upload all packages
        shell: bash
        # do not upload on PR
        if: github.event_name == 'push'
        env:
          ANACONDA_API_KEY: ${{ secrets.ANACONDA_API_KEY }}
        run: |
          shopt -s nullglob
          EXIT_CODE=0
          for pkg in $(find output -type f \( -name "*.conda" -o -name "*.tar.bz2" \) ); do
            if ! rattler-build upload prefix -c gnuradio-oot-forge "${pkg}"; then
              EXIT_CODE=1
            fi
            if ! rattler-build upload anaconda -o ryanvolz "${pkg}"; then
              EXIT_CODE=1
            fi
          done
          # error exit disabled until uploading existing packages does not error
          #exit $EXIT_CODE
          exit 0
